@font-face {
  font-family: "ArcadeMinusDotted";
  src: url("/fonts/ARCADE_DOT.TTF") format("truetype");
  font-display: swap;
}
.select-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-family: "ArcadeMinusDotted";

  &:first-child {
    margin-top: 0;
  }
  &:hover {
    input {
      transition: all 0.3s ease;
      box-shadow: 0 0 12px rgba(73, 241, 143, 0.3);
      background-color: rgba(73, 241, 143, 0.2);
    }
  }
}
.label {
  font-size: 22px;
  font-weight: 500;
  color: #49f18f;
  letter-spacing: 1.5px;
}
.select {
  margin-top: 0.6rem;
  background-color: rgba(73, 241, 143, 0.1);
  border: 1px solid #49f18f;
  border-top: none;
  border-left: none;
  border-radius: 8px;
  flex: 1;
  color: #49f18f;
  padding: 0.5rem 0.75rem;
  font-size: 0.95rem;
  outline: none;
  font-family: inherit;
  font-family: "ArcadeMinusDotted";

  &::placeholder {
    color: rgba(73, 241, 143, 0.6);
    font-family: "ArcadeMinusDotted";
  }
  &:focus-within {
    background-color: rgba(73, 241, 143, 0.2);
    box-shadow: 0 0 12px rgba(73, 241, 143, 0.3);
  }
  &Error {
    border-color: #ff4757;
  }
}
.option {
  font-family: inherit;
  font-family: "ArcadeMinusDotted";
}
.error {
  display: block;
  margin-top: 0.5rem;
  color: #ff4757;
  font-size: 0.875rem;
}
