.form {
  //   &__container {
  //     background: rgba(83, 82, 82, 0.23);
  //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //     border: 1px solid #ddd;
  //     border-radius: 8px;
  //     padding: 1.5rem;
  //     font-family: "ArcadeMinusDotted";
  //   }
  &__body {
    padding: 1rem 0;
    width: 65%;
    justify-self: center;
  }
  &__btns {
    padding: 1rem 0;
    justify-self: flex-end;
    margin-right: 20%;
    display: flex;
    gap: 1rem;
  }
}
