.icons {
  &__container {
  }
  &__list {
    display: flex;
    gap: 1rem;
  }
  &__item {
    list-style: none;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
  }
  &__img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
